.main {
    padding-top: 30px;
    position: relative;
    z-index: 10;
}

.main .container {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .container.active {
    display: flex;
}

.faded {
    opacity: 0;
    transform: translateX(600px);
    transition: opacity 0.3s, transform 0.3s;
}

.faded.in {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s, transform 0.3s;
}

.projects {
    width: 31%;
    border: 1px solid #fff;
    margin-bottom: 30px;
    margin-right: 20px;
}

.projects:nth-child(3n) {
    margin-right: 0;
}

.projects--onLoad {
    padding: 20px;
}

.projects__props {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 40px 0;
}

.projects__title {
    color: #FFFF00;
    font-size: 24px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.projects__title--onLoad {
    font-size: 20px;
    text-align: center;
}

.projects__text {
    margin-bottom: 20px;
    font-family: 'Montserrat Extra Light';
    font-size: 18px;
    color: #ffffffb8;
    min-height: 45px;
}

.projects__link {
    padding: 20px 40px 20px;
    display: block;
    border: 1px solid #00B1FB;
    margin-bottom: 20px;
}

.projects__link--bg-blue {
    background-color: #00B1FB;
}

.projects__code {
    overflow-x: scroll;
}

.projects__code::-webkit-scrollbar {
    width: 12px;
    height: 5px;
}

.projects__code::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.projects__code::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(255 255 255 / 50%);
}


/* @media (max-width: 1599px) {
    .main .container {
        position: relative;
        z-index: 999;
    }
} */

@media (max-width: 1155px) {
    .projects__title {
        font-size: 19px;
    }
    .projects__text {
        font-size: 16px;
    }
    .projects__link {
        font-size: 15px;
    }
}

@media (max-width: 980px) {
    .projects {
        width: 49%;
        margin-right: 0;
    }
}

@media (max-width: 640px) {
    .projects__text {
        font-size: 15px;
    }
    .projects__link {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .projects {
        width: 100%;
    }
}