@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Semibold';
    src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Extra Light';
    src: url('../fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-width: 320px;
    font-family: 'Montserrat Regular';
    background-color: #0F0F0F;
    color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.bg-left {
    background-image: url("../img/leftimg.png");
    position: fixed;
    background-size: contain;
    width: 144px;
    height: 1080px;
    top: 0;
    left: -32px;
}
.bg-right {
    background-image: url("../img/rightImg.png");
    position: fixed;
    background-size: contain;
    width: 264px;
    height: 1080px;
    top: 0;
    right: -104px;
}